<div class="container">
  <div class="sectionHeader">
    <span class="header">
      <em>Sign In</em>
    </span>
    <hr class="rule1 experience" />

  </div>
  
  <form #signInForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <table>
      <tr>
        <td class="tbl2">
          <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
        </td>
        <td class="tbl2">
          <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </td>
        <td class="content-center">
          <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!signUpForm.valid">Sign-in</button>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          <p *ngIf="isLoginError" style="color:red;font-size:14px;font-weight:bold" Class="success" align="left">
            {{message}}
          </p>
        </td>
      </tr>
    </table>
  </form>
</div>
